<!DOCTYPE html>
<html>
    <head> 
        <style>
            *{
                margin:0px;
                padding:0px;
            }
            h1{
                text-align:center;
                height: 20%;
                background-color:blue;
                color:white;
            }
            main{
                text-align:center;
                padding:20px;
                
            }
        </style>
    </head>
    <body>
        <header>

        </header>
        <h1>Vcube Application</h1>
        <main>
            <form action="" method="post">
                {%csrf_token%}
            <label for="">
                value1
                <input type="text" name="t1">
        
            </label><br><br>
            <label for="">
                value2
                <input type="text" name="t2">
            </label><br><br>
            <input type="submit" value="calculate">    
        </form>
        <p>{{request}}</p>
        </main>
    </body>
</html>